{% extends 'base.html' %}

{% block header %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <style>
    .star:hover, .star:hover span{
        color: red;
    }
    .checked {
        color: Blue ;
    }

    .half {
     border: 1px solid blue;
    }
    </style>
{% endblock %}

{% block content %}
    {% if post_does_not_exist %}
        {{ post_does_not_exist }}
    {% else %}
    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">{{ post.name }}</h1>
          <p class="lead">Post Rating: {{ post.rating }}</p>
          <!-- Author -->
          <p class="lead">
            by
            <a href="#">{{ post.author }}</a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>{{ post.date }}</p>

          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="{{ post.image.url }}" alt="">

          <hr>

          <!-- Post Content -->
            <p class="lead">{{ post.text }}</p>
          <hr>

          <!-- Comments Form -->
          <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
              <form id="comment-submit" {% if request.user.is_anonymous %}onsubmit="event.preventDefault();askToLogin();" {% endif %} method="post">
               {% csrf_token %}
               <div class="form-group">
                  <textarea name='comment-text' class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>

          <!-- Single Comment -->
          {% for comment in comments %}
              <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <div>
                    <h5 class="mt-0">{{ comment.user.username }}</h5> <small style="color: grey;">{{ comment.creation_date }}</small>
                    </div>
                  {{ comment.text }}
                </div>
              </div>
          {% endfor %}

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Rating</h5>
            <div class="card-body">
              <div class="input-group">
                {% if not user_rated_post %}
                <span class="rating" data-default-value="{{ post.rating }}" style="margin-left:5px;margin-right: 5px; ">
                    <a class="star" id="1"><span data-value="1" class="fa fa-star"></span></a>
                    <a class="star" id="2"><span data-value="2" class="fa fa-star"></span></a>
                    <a class="star" id="3"><span data-value="3" class="fa fa-star"></span></a>
                    <a class="star" id="4"><span data-value="4" class="fa fa-star"></span></a>
                    <a class="star" id="5"><span data-value="5" class="fa fa-star"></span></a>
                </span>
                <span id='rating-response-text' class="input-group-btn">
                {% else %}
                    <p>You have already rated this post!</p>
                </span>
                {% endif %}
              </div>
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
    {% endif %}

{% endblock %}


{% block script %}
    <script>

        function askToLogin() {
           swal("To leave a comment you need to login");
        }
        
        $('.star').on("click",function () {
            {% if request.user.is_anonymous %}askToLogin();return;{% else %}{% endif %}
            var rating = $( this ).attr('id');
            console.log($( this ).attr('id'));

            var xhr = new XMLHttpRequest();

            var body = 'rating=' + encodeURIComponent(rating) +
              '&post_id=' + encodeURIComponent({{ post.id }});

            xhr.open("POST", "{% url 'mainapp:posts:send_review' %}", true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.send(body);
            $('.rating').hide();
            document.getElementById("rating-response-text").innerHTML="<p>Thank you for your rate.</p>";

        });
    </script>
{% endblock %}